<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); -%>
  <!-- 불러오기 -->

  <body>
    <%- include("../menu"); -%>

    <!-- Card deck -->
    <div class="row row-cols-1 row-cols-md-4 justify-content-center" style="width: 100%;">
      <% result.forEach(post => { %>

      <!-- Card -->
      <div class="card mt-3 mb-2 mr-3, ml-3">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src= "<%= post.img_url %>"" alt="post image
          cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
          
        <!--Card content-->
        <div class="card-body align-bottom">
          <!--Title-->
          <h4 class="card-director"><%= post.title %></h4>
          <!--content-->
          <h6 class="card-director"><%= post.content %></h6>
          <!--Text-->
          <p class="card-text">작성자 : <%= post.writer.name %></br>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button
            type="button"
            class="btn btn-light-blue btn-md"
            onclick="location.href='/post/_id/<%=post._id%>/detail'"
          >
            자세히 보기
          </button>
        </div>
        <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i><%=post.date.toISOString().replace(/T/, ' ').
        replace(/\..+/, '')%></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
            class="far fa-comments pr-1"></i><%= post.comments.length %></a></li>
      <li class="list-inline-item"><a href="#" class="white-text"> 작성자 : <%= post.writer.name %></a> </li>
    </ul>
  </div>
      </div>
      <!-- Card -->
      

      <% }) %>
    </div>
    <!-- Card deck -->
    <div class="d-flex justify-content-between">
    <% if (offset != 0) { %>
        <button
          type="button"
          class="btn btn-primary"
          onclick="location.href='/post/list?offset=<%= offset - limit %>&limit=<%= limit %>'"
        >
        이전 페이지
        </button>
        <% } else { %>
          <div class="btn btn-primary" style="visibility: hidden;"> 이전 페이지 </div>
    <% } %>
        <button
          type="button"
          class="btn btn-primary"
          onclick="location.href='/post/new'"
        >
          글쓰기
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="location.href='/post/list?offset=<%= offset + limit%>&limit=<%= limit %>'"
        >
        다음 페이지
        </button>
        <%- include("../footer.ejs"); -%>
      </div>
  </body>
</html>
